$progressBg: #f7f7f7;
$iconColor: #6dc2c2;

.progress{
    background-color: $progressBg;
    padding-top: 13.6%;
    padding-bottom: 12.9%;
}
.title-progress{
    @include title-h2();
    @media (min-width: 1500px) {
        @include dynamicText(187.5%, 60, 30, 1500px, 3000, 1500);
    }
}
.text-progress{
    font-size: 16px;
    color: $colorText;
    line-height: 1.125;
    text-align: center;
    margin: 0 17.8%;
    @media (min-width: 1500px) {
        @include dynamicText(100%, 32, 16, 1500px, 3000, 1500);
    }
}
.progress-blocks{
    margin: 10.3% 6.7% 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.progress-block{
    flex-basis: 19.2%;
    margin-right: 3.2%;
    &:last-child{
        margin-right: 0;
    }
}
.circle-bg{
    width: 40%;
    height: 60%;
    display: flex;
    margin: 0 auto;
    border: 2px solid $colorHoverMenu;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    .fa{
        font-size: 36px;
        color: $iconColor;
        @media (min-width: 1500px) {
            @include dynamicText(225%, 72, 36, 1500px, 3000, 1500);
        }
    }
}
.prog-block-title{
    font-size: 14px;
    color: $colorText;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.286;
    text-align: center;
    margin: 5.5% 0 4%;
    @media (min-width: 1500px) {
        @include dynamicText(87.5%, 28, 14, 1500px, 3000, 1500);
    }
}
.prog-block-text{
    font-size: 14px;
    color: $colorText;
    line-height: 1.286;
    text-align: center;
    margin: 0;
    @media (min-width: 1500px) {
        @include dynamicText(87.5%, 28, 14, 1500px, 3000, 1500);
    }
}

@media (max-width: 1500px){
    .circle-bg{
        width: 90px;
        height: 90px;
    }
}

@media (max-width: 980px){
    .progress-block{
        flex-basis: 45%;
        margin-right: 0;
        margin-top: 7%;
    }
    .text-progress{
        margin: 0 5.4%;
    }
    .progress-blocks{
        margin: 3.3% 5.4% 0;
    }
}

@media (max-width: 480px){
    .progress-block{
        flex-basis: auto;
    }
    .prog-block-title{
        margin: 4.5% 0 3%;
    }
}